[submodule "CP"]
	path = CP
	url = git@github.com:eco-trip/CP.git
[submodule "Api"]
	path = Api
	url = git@github.com:eco-trip/Api.git
[submodule "App"]
	path = App
	url = git@github.com:eco-trip/App.git
