[submodule "CP"]
	path = CP
	url = git@github.com:eco-trip/CP.git
[submodule "Administration"]
	path = Administration
	url = git@github.com:eco-trip/Administration.git
[submodule "App"]
	path = App
	url = git@github.com:eco-trip/App.git
[submodule "Cognito"]
	path = Cognito
	url = git@github.com:eco-trip/Cognito.git
[submodule "GuestAuthorization"]
	path = GuestAuthorization
	url = git@github.com:eco-trip/GuestAuthorization.git
[submodule "DataElaboration"]
	path = DataElaboration
	url = git@github.com:eco-trip/DataElaboration.git
